.env

# working in a documentation system
lib/docs
*OH*

botv14.code-workspace
node_modules
test.js
# Hidden stuff are personal commands or secret information
*hidden*
# Docs are on development
*docs
